#profilePicture {
    background-image: url(img/chancellor.jpg);
    float: left;
    width: 300px;
    height: 350px;
    background-clip: content-box;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-right: 10pt;
}

#profilePicture:hover {
    background-image: url(img/sith.jpg);
}

h2 {
    color: #996666;
}

div.content {
    width: 1000px;
    margin: 50px 300px;
    box-sizing: border-box !important;
    clear:both;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

div.titlebox {
    border: 3px groove #663333;
    padding-left: 10pt;
    background-color: #FFE1DC;
    vertical-align: middle;
}

.titlebox h1 {
    background-color: inherit;
}