#profilePicture {
    background-image: url(img/chancellor.jpg);
    float: left;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 1em;
}

#profilePicture:hover {
    background-image: url(img/sith.jpg);
}

h2 {
    color: #996666;
}